*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}
body {
  display: flex;
  background-color: rgb(85, 88, 88);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
}

.logo {
  height: 5rem;
  box-shadow: 5px 5px 5px 2px #717171;
}

.grostitre {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(200, 245, 248);
  box-shadow: 12px 12px 2px 1px #717171;
}
/* .cachelogo {
  display: flex;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.95;
  
} */

.welcome {
  display: flex;
  font-size: 4.9rem;
  font-family: "Smooch", cursive;
  justify-content: center;
}

/* .ground{
  
  display: flex;
  justify-content: flex-end;
  align-content: start;
} */

nav {
  position: fixed;
  bottom: 0;
  right: 0.5px;
  width: 100%;
  /* background: rgb(26, 123, 232); */
  height: 5rem;
  opacity: 80%;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.story {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  background-color: rgba(172, 247, 247, 0.749);
  margin-bottom: 4rem;
  
}

.storyparagraph,
.mythologie,
.ethymologie {
  border-radius: 10px;
  padding: 3px;
  margin: 20px 5px 20px 5px;
  text-align: center;
  opacity: 95%;
  background-color: rgb(165, 200, 243);
  box-shadow: 10px 5px 5px 5px #717171;
}

span {
  font-weight: bold;
}
.photoplan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
 
}

#hcg-slider-1 .hcg-slide-container {
  width: auto;
  height: auto;
  box-shadow: 10px 10px 10px 10px #a0a0a0;
}
.hcg-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}
.hcg-slides {
  display: none;
  text-align: center;
  overflow: hidden;
}
.hcg-slides img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #a0a0a0;
  vertical-align: middle;
}
.hcg-slide-prev,
.hcg-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}
.hcg-slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.hcg-slide-prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.hcg-slide-prev:hover,
.hcg-slide-next:hover {
  background-color: #000c;
}
.hcg-slide-dot-control {
  margin-top: 10px;
  text-align: center;
}
.hcg-slide-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.hcg-slide-dot.dot-active {
  background-color: #717171;
}
.hcg-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeInRight;
  animation-duration: 1s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

@media (min-width: 600px) {
  .grostitre {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 58%;
    background-color: rgb(200, 245, 248);
   
  }

  .imagetop {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
